{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>INFORMACION</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "info.css" %}'>
</head>
<body>
    <div id="header">
        <form> <input type = "button" value = "¡Regresar!" onclick = "history.back ()"></form>
    </div>
    <div id="padre">
        <div id="info">
            <h2>IPC2    DICIEMBRE 2021</h2>
            <h4>Juan Pablo Pérez Búc</h4>
            <h4>201807201</h4>
        </div>
    </div>
</body>
</html>