{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contenido</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "viewcontent.css" %}'>
</head>
<body>
    <div id="header">
        <a href="{% url 'csv' %}">Agregar contenido</a>
        <a href="{% url 'estadisticas' %}">Estadísticas</a>
        <a href="{% url 'info' %}">Información del Estudiante</a>
    </div>
    <div id = "tabla">
        <table>
            {% for key, value in dict.items %}
            <thead>
                <tr><th colspan="5" id = "thclave">{{key}}</th></tr>
                <tr><th>Cancion</th><th>Album</th><th>Artista</th><th>Reproducciones</th><th></th></tr>
            </thead>
            <tbody>
                    {% for element in value %}
                        <form action='/reproducir/{{key}}+{{element.cancion}}+{{element.album}}+{{element.artista}}' method="get">
                            <tr>
                                {% for clave, valor in element.items %}
                                    {% if clave in headers %}
                                        <td>{{valor}}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><input type="submit" value="Reproducir" id = "play"></td>
                            </tr>
                        </form>
                    {% endfor %}
            </tbody>
            {% endfor %}
        </table>
        
    </div>
</body>
</html>